@font-face {
    font-family: sans;
    src: url(../fonts/IRANSans.ttf);
}

.cursor {
    cursor: pointer;
}

.bg-gray {
    background-color: lightgray;
}

.w-250 {
    width: 250px !important;
}

.w-120 {
    width: 120px !important;
}

a {
    display: block;
    cursor: pointer;
}

body>main::-webkit-scrollbar,
#add-user-modal::-webkit-scrollbar,
.dashboard::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body>main::-webkit-scrollbar-track,
#add-user-modal::-webkit-scrollbar-track,
.dashboard::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
    margin: 29px 0;
}

body>main::-webkit-scrollbar-thumb,
#add-user-modal::-webkit-scrollbar-thumb,
.dashboard::-webkit-scrollbar-thumb {
    background-color: #CEB1E2;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid transparent;
    /* creates padding around scroll thumb */
}

body>main,
#add-user-modal,
.dashboard {
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #CEB1E2 transparent;
    /* scroll thumb and track */
    scroll-margin: 29px 0;
}

main>div {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

body {
    font-family: sans;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    user-select: none;
    height: 100vh;
}

.dashboard {
    height: 80vh;
    overflow-y: scroll;
    background-color: white;
    border-radius: 22px;
    width: 100%;
    max-width: 800px;
    ;
    margin: 14px;
    padding: 16px;
    padding-top: 0;
}

body.login-register {
    height: 100vh;
}

body.login-register form {
    display: flex;
    height: 590px;
    width: 800px;
    border-radius: 22px;
    overflow: hidden;
    border: 1px solid gray;
}

body.login-register form>div:first-child {
    width: 50%;
    background-color: white;
}

body.login-register form>div:first-child h2 {
    padding: 15px 39px;
}

body.login-register .left {
    position: relative;
}

body.login-register .left .logo {
    position: absolute;
    left: 21px;
    top: 27px;
    color: #8623ab;
    width: 76px;
    height: 76px;
    background: white;
    border-radius: 50%;
}

.login-input-box {
    padding: 4px 39px;
}

.login-register-input {
    display: flex;
    gap: 6px;
    align-items: center;
    border-top: 0;
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(90deg, #442C9D 2.64%, #AF46C3 56.61%, #C56CFC 95.1%) 1;
    height: 46px;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    margin-bottom: 22px;
}

.login-register-input input {
    border: none;
    width: 100%;
    outline: none;
    font-size: 20px;
    font-family: sans;
}

.login-register-input input::placeholder {
    color: #9C9C9C;
    font-size: 16px;
    font-family: sans;
}

.login-register-input img {
    width: 18px;
    height: 18px;
}

.login-input-box a {
    color: gray;
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
}

.login-input-box a[href="login.html"] {
    text-align: center;
    margin-top: 12px;
    color: black;
}

.login-input-box input[type='submit'] {
    background: linear-gradient(90deg, #3F2A9A 0%, #8F4EC8 53.5%, #A456D4 100%);
    height: 52px;
    width: 100%;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 44px;
    font-family: sans;
}

.login-input-box input[value="ثبت نام"] {
    margin-top: 112px;
}

body.login-register form>div:first-child>a {
    text-align: center;
    display: block;
    margin-top: 162px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

body.login-register form>div:last-child {
    background-image: url('../img/Component1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
}

body.edit {
    height: 100vh;
}

.edit-box {
    width: auto !important;
    padding: 24px;
}

.edit-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 32px;
}

.edit-row input {
    padding-right: 0 !important;
    text-align: center;
}

.edit-row .buttons {
    margin-top: -4px !important;
}

.edit-row .buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    background: white;
    border-radius: 13px;
    color: #313131;
    font-size: 14px;
}

.edit-row a {
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.edit-row img[alt='copy'] {
    width: 100%;
    height: 100%;
}

.edit-label {
    margin-bottom: 0;
    margin-top: 0;
    width: 200px;
}

body>main {
    background-color: white;
    padding: 32px;
    width: 100%;
}

#overlay {
    transition: .3s;
    z-index: -1;
}

#overlay.show {
    position: fixed;
    inset: 0;
    z-index: 999;
    backdrop-filter: blur(4px);
}

#add-user-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 35px;
    bottom: 51px;
    margin: auto;
    width: 784px;
    height: auto;
    border-radius: 22px;
    background: linear-gradient(90.14deg, #8678FF 0.12%, #BC5AFA 57.52%);
    color: white;
    display: none;
    padding: 2px 14px;
    z-index: 999;
}

#add-user-modal.active {
    display: block;
}

#add-user-modal h2 {
    text-align: center;
}

#add-user-modal>div {
    width: 397px;
    margin: auto;
}

#add-user-modal p {
    font-size: 21px;
    margin-bottom: 4px;
}

#add-user-modal input {
    width: 97%;
    height: 44px;
    border-radius: 16px;
    padding-right: 9px;
    border: 0;
}

#add-user-modal .date {
    display: flex;
    align-items: center;
    gap: 7px;
}

#add-user-modal .date input:first-child {
    width: 251px;
    font-size: 25px;
}

#add-user-modal .date input:last-child {
    width: 100%;
    font-size: 25px;
}

#add-user-modal .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
    gap: 32px;
}

#add-user-modal .buttons button {
    height: 46px;
    border-radius: 16px;
    width: 50%;
    cursor: pointer;
    background-color: white;
    font-family: sans;
    border: 0;
}

#add-user-modal .buttons input {
    width: 50%;
    cursor: pointer;
    background-color: white;
    font-family: sans;
}

.date-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.date-row>div:first-child {
    flex-shrink: 0;
}

/* header */
header {
    background: linear-gradient(180deg, #CDAEE2 1.87%, #A75BD7 53.96%, #472CA1 100%);
    width: 288px;
    position: fixed;
    right: -400px;
    bottom: 0;
    top: 0;
    z-index: 99;
    transition: all .4s;
}

header.active {
    right: 0;
}

header #close {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #392B79;
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid white;
    left: -27px;
    top: 55px;
    cursor: pointer;
}

header #close img[alt='close'] {
    width: 44px;
}

header>div:nth-child(2) {
    padding: 29px;
    border-bottom: 1px solid white;
}

header>div:nth-child(2) img[alt='profile'] {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

header>div:nth-child(2) h1 {
    font-size: 24px;
}

header>div:nth-child(2) p {
    font-size: 23px;
    margin-top: -7px;
    margin-bottom: 0;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 42px;
}

header ul li {
    transition: all .4s;
}

header ul li:hover {
    background-color: #5c0a93;
}

header ul li a {
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
    font-size: 23px;
    font-weight: 400;
    cursor: pointer;
    padding: 9px 29px;
}

header img[alt="menu-icon"] {
    width: 24px;
}

header ul li a span {
    margin-top: 3px;
}

/* nav */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
}

#profile {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: relative;
    flex-shrink: 0;
    color: #8623ab;
}

#profile span {
    background-color: #FC476E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    position: absolute;
    bottom: -5px;
    right: 0;
    padding: 4px;
}

.logo-search {
    display: flex;
    align-items: center;
    gap: 18px;
}

.logo-search form {
    position: relative;
    width: 203px;
    height: 40px;
    background-color: #CC9BEE;
    border-radius: 50px;
}

.logo-search form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 33px;
    padding-right: 10px;
    background-color: transparent;
    color: white;
}

.logo-search form svg {
    position: absolute;
    left: 7px;
    top: 9px;
    color: white;
}

.logo-search a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 103px;
    height: 103px;
    font-size: 26px;
    font-weight: bold;
    flex-shrink: 0;
    color: #8623ab;
}

/* volume */
.volume {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 33px 4px 85px;
}

/* users */
.users {
    margin: 12px 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.head1 {
    height: 74px;
    position: sticky;
    top: 89px;
    z-index: 8;
}

.head>div:first-child {
    flex-grow: 1;
}

.head>div:first-child>div:first-child>div,
.user-details>div {
    width: 33%;
}

.head>div:last-child {
    width: 208px;
    flex-grow: 0;
}

.head>div:first-child>div:first-child,
.head>div:last-child>div:first-child {
    background: linear-gradient(to right, #580891 0%, #c448cf 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 47px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-family: sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px !important;
}

.user-details {
    border: 1px solid #b5b5b5;
    border-radius: 10px;
    padding: 5px 12px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    background-color: white;

}

.avatar-name {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    font-size: 19px;
}

.avatar-name img {
    width: 33px;
}

.situation {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    right: 23px;
    bottom: 22px;
}

.situation.green {
    background-color: #00e000;
}

.situation.gray {
    background-color: gray;
}

.situation.red {
    background-color: red;
}

.check {
    background-color: #9A9A9A;
    width: 42px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: end;
    border-radius: 55px;
    padding: 3px;
    transition: all .4s;
    margin: auto;
}

.check.active {
    background-color: #794BB2;
    justify-content: start;
}

.check div {
    background-color: white;
    width: 21px;
    height: 21px;
    border-radius: 100%;
    cursor: pointer;
    transition: all .7s ease-out;
}

img[alt='icon'] {
    width: 21px;
    margin-top: 7px;
    cursor: pointer;
}

.bar {
    height: 6px;
    width: 34%;
    background-color: #BAB2DA;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.slider {
    width: 20%;
    height: 100%;
    background-color: #412B9B;
    display: block;
    border-radius: 4px;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 100%;
    border: 4px solid #412B9B;
    position: relative;
    margin-right: -4px;
}

.Gig {
    position: absolute;
    color: #581879;
    font-size: 11px;
    font-weight: bold;
    top: 9px;
    left: -21px;
}

.mobile-Gig {
    display: none;
}

.icons {
    display: none;
    align-items: center;
    justify-content: space-around;
}

.info {
    display: block;
    position: relative;
}

.info:hover .info-hover {
    display: block;
}

.info-hover {
    width: 220px;
    height: auto;
    background-color: #392B79;
    border-radius: 6px;
    padding: 12px;
    position: absolute;
    display: none;
    color: white;
    font-weight: bold;
    z-index: 9;
    right: -130px;
    bottom: -221px;
    line-height: 41px;
}

.info-hover>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* circle progressbar */
.skill {
    width: 160px;
    height: 160px;
    position: relative;
    border-radius: 50%;
}

.outer {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CEB1E2;
    text-align: center;
}

.inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.inner p {
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
}

#number,
#number2,
#number3 {
    font-weight: 600;
    color: purple;
    margin-bottom: -18px;
    margin-top: 9px;
}

.percent {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 24px;
}

.percent>div:first-child {
    margin-top: 27px;
    font-weight: bold;
    color: purple;
}

circle#circle1 {
    fill: none;
    stroke: url('#GradientColor');
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

circle#circle2 {
    fill: none;
    stroke: url('#GradientColor');
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards;
}

circle#circle3 {
    fill: none;
    stroke: url('#GradientColor');
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim3 2s linear forwards;
}

.volume svg {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 165.2;
    }
}

@keyframes anim2 {
    100% {
        stroke-dashoffset: 162.5;
    }
}

@keyframes anim3 {
    100% {
        stroke-dashoffset: 162.5;
    }
}

@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {

    #add-user-modal,
    body.login-register form {
        width: 90%;
    }

    .head>div:last-child {
        width: 196px;
    }

    .users {
        margin: 12px 0;
    }

}

@media only screen and (max-width:768px) {

    body.login-register form>div:first-child,
    #add-user-modal .date input:first-child,
    #add-user-modal .date input:last-child,
    .head>div:first-child>div:first-child,
    #add-user-modal input,
    .w-250 {
        width: 100% !important;
    }

    body.login-register form>div:last-child {
        width: 0%;
    }

    #add-user-modal .date {
        display: block;
    }

    .head1 {
        top: 59px;
    }
    .dashboard {
       margin: 0;
       height: 98vh;
       border-radius: 0;
    }
    .head>div:first-child>div:first-child {
        justify-content: space-between;
    }

    #add-user-modal .date input:last-child {
        margin-top: 6px;
    }

    #add-user-modal>div {
        width: 87%;
    }

    #add-user-modal {
        height: auto;
        overflow-y: auto;
        padding: 28px 14px;
        top: 26px;
    }


    .logo-search a {
        display: none;
    }

    .activation {
        display: none;
    }

    .head>div:last-child>div:first-child {}

    .edit-row {
        flex-direction: column;
        gap: 9px;
    }

    .edit-label {
        width: auto;
    }

    .box .user-details {
        gap: 14px;
    }

    .box .user-details h5 {
        margin: 0;
    }

    .avatar-name {
        flex-direction: column;
    }

    .situation {
        display: none;
    }

    .user-details>div {
        width: 100%;
    }

    .user-details>div:nth-child(2) {
        display: none;
    }

    .icons {
        display: none;
    }

    .avatar-name img {
        display: none;
    }

    .check {
        display: none;
    }

    .check div {
        width: 28px;
        height: 28px;
    }

    .bar {
        height: 9px;
    }

    .circle {
        width: 7px;
        height: 7px;
    }

    .Gig {
        display: none;
    }

    .operate {
    }

    .mobile-Gig {
        display: block;
        color: #581879;
        font-size: 18px;
        font-weight: bold;
    }

    .head>div:first-child>div:first-child>div {
        width: 50%;
    }

    .nav {
        padding: 9px 0;
    }

}

@media only screen and (max-width:576px) {

    .logo-search {
        gap: 0;
    }

    .volume {
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .avatar-name {
        font-size: 13px;
    }

    .date-row {
        flex-direction: column;
    }

    .date-row>div:first-child {
        width: 100%;
    }
    .head > div:last-child {
        width: 182px;
      }
}
@media only screen and (max-width:400px) {
    .head > div:last-child {
        width: 127px;
      }
      img[alt="icon"] {
        width: 17px;
      }
      .head > div:first-child > div:first-child,.head > div:last-child > div:first-child {
        font-size: 11px;
      }
      .mobile-Gig {
       font-size: 10px;
      }
      .bar {
        height: 4px;
      }
      .user-details {
    justify-content: center;
      }
      .circle {
        width: 4px;
        height: 4px;
      }
      /* .Gig {
        display: block;
      }
      .mobile-Gig {
       display: none;
      } */
      .box .user-details {
        gap: 5px;
      }
      .user-details {
        padding: 5px 3px;
      }
      .avatar-name {
        width: 68%!important;
      }
}